@tailwind base;
@tailwind components;
@tailwind utilities;

* { padding: 0%; margin: 0%; }

::-webkit-scrollbar { width: 10px;  height: 10px; }
::-webkit-scrollbar-track {background: #3b21cf;}

::-webkit-scrollbar-thumb { background: #007bff; border-radius: 10px; }