@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .glow {
      text-shadow: 0 0 5px rgba(59, 130, 246, 0.7), 0 0 10px rgba(59, 130, 246, 0.5);
    }
  
    @keyframes pulse-glow {
      0% {
        text-shadow: 0 0 8px rgba(59, 130, 246, 0.9), 0 0 15px rgba(59, 130, 246, 0.6);
      }
      100% {
        text-shadow: 0 0 3px rgba(59, 130, 246, 0.5), 0 0 7px rgba(59, 130, 246, 0.3);
      }
    }
  
    .animate-glow {
      animation: pulse-glow 1.5s infinite alternate;
    }
}

* { padding: 0%; margin: 0%; }
::-webkit-scrollbar { width: 5px;  height: 5px; }
::-webkit-scrollbar-track {background: #3b21cf;}
::-webkit-scrollbar-thumb { background: #007bff; border-radius: 10px; }